.vagas__secao {
    margin: 36rem 21rem 0 21rem;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    cursor:default;

}

.vagas__divisao {
    margin: 4rem;
}

.vagas__titulo {
    padding-bottom: 1rem;
    font-weight: 600;
    font-size:2rem ;
    color: var(--cor-de-texto);
}

.vagas {
    margin: 1.5rem;
    border: solid 2px var(--cor-de-borda);
    border-radius: 1rem;
}


.vagas__inscricao:hover {
    border: solid 2px var(--cor-de-destaque);
}
.vagas__texto {
    margin: 2rem;
    display: flex;
   
}

.vagas__sub-titulo {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem 0rem 0 1rem ;
}
.vagas__paragrafo {
    margin-right: 1rem;
    color: var(--cor-de-paragrafo);
    font-size: 16px;
    font-weight: 500;
}